{% extends "registration/base_registration.html" %}

{% block title %}Password_reset_complete{% endblock %}

{% block extra_head %}
    <style>
        .container {
            justify-content: center;
            align-items: center;
            text-align: center;


            background: rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            padding: 30px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            width: 90%;
            max-width: 500px;
        }



    </style>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Password Reset Complete</h2>
<p>Your password has been successfully reset. <a href="{% url 'login' %}">Login here</a></p>
</div>

{% endblock %}








