{% load static %}
<footer class="footer">
    <div class="container">
        <div class="contact-info">
            <p>Email: ghananandam@gmail.com</p>
        </div>
        <div class="social-media">
            <a href="#"><img src="{% static 'images/instagram-icon.png' %}" alt="Instagram"></a>
            <a href="#"><img src="{% static 'images/facebook-icon.png' %}" alt="Facebook"></a>
            <a href="#"><img src="{% static 'images/linkedin-icon.png' %}" alt="LinkedIn"></a>
        </div>
        <p>© 2025 GHANANAND.IN. All Rights Reserved.</p>
    </div>
</footer>